.icon-resize {
    font-size: 20px !important;
}

.label-icon-resize {
    font-size: 14px !important;
    padding-top: 5px !important;
}

.legend-con ul {
    display: inline-block;
    padding: 10px;
}
.chart-legend {
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-size : 10px;
}

.box-legend {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.ml-1 {
    margin-left: 10px !important;
}

.ml-2 {
    margin-left: 20px !important;
}
.ml-3 {
    margin-left: 30px !important;
}

.bg-gray1{
    background-color:#607d8b;
}

.text-gray1{
    color:#607d8b;
}

.bg-blue-teal{
    background-color :#80cbc4;
}

.text-blue-teal{
    color:#80cbc4;
}

.card-custom {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
    min-width: 0;
    height: 185px;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border:1px solid #cbcee8;
	box-shadow:0 12px 11px -3px rgba(113,126,195,.25);
}
.card-custom{
    position: relative;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 7px;
}
.card-pie {
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	padding: 0rem;
}

.card-pie {
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	margin: 0;
	padding: 0rem 0rem;
	position: relative;
	
}

.font-13{
    font-size: 13px !important;
}