.icon-resize {
    font-size: 20px !important;
}

.label-icon-resize {
    font-size: 14px !important;
    padding-top: 5px !important;
}

.legend-con ul {
    display: inline-block;
    padding: 10px;
}
.chart-legend {
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-size : 11px;
}

.box-legend {
    width: 18px;
    height: 20px;
    margin-right: 10px;
}

.ml-1 {
    margin-left: 10px !important;
}

.ml-2 {
    margin-left: 20px !important;
}
.ml-3 {
    margin-left: 30px !important;
}

.bg-gray1{
    background-color:#607d8b;
}

.text-gray1{
    color:#607d8b;
}

.bg-blue-teal{
    background-color :#80cbc4;
}

.text-blue-teal{
    color:#80cbc4;
}