.icon-resize {
    font-size: 17px !important;
}

.label-icon-resize {
    font-size: 13px !important;
    padding-top: 5px !important;
}

.legend-con ul {
    display: inline-block;
    padding: 10px;
}
.chart-legend {
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-size : 10px;
}

.box-legend {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.ml-1 {
    margin-left: 10px !important;
}

.ml-2 {
    margin-left: 20px !important;
}
.ml-3 {
    margin-left: 30px !important;
}
/* mr */
.mr-0{
    margin-right:0.1rem !important;
}
.bg-gray1{
    background-color:#607d8b;
}
.btn-gray1{
    color:#607d8b;
}

.text-gray1{
    color:#607d8b;
}
.bg-gray2{
    background-color:#D9D9D9;
}
.text-gray2{
    color:#D9D9D9;
}
.bg-blue-teal{
    background-color :#80cbc4;
}

.text-blue-teal{
    color:#80cbc4;
}

.bg-blue-1{
    background-color:#00436D;
}

.bg-green-2{
    background-color:#009E8C;
}

.bg-total{
    background-color: #F5FFFA !important;
}
.card-custom {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
    min-width: 0;
    height: 185px;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border:1px solid #cbcee8;
	box-shadow:0 12px 11px -3px rgba(113,126,195,.25);
}
.card-custom{
    position: relative;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 7px;
}
.card-pie {
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	padding: 0rem;
}

.card-pie {
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	margin: 0px 0px 0px 6px;
	padding: 0rem 0rem;
	position: relative;
	
}

.font-13{
    line-height: 1.15;
    font-size: 13px !important;
}

/* Accordion */
.accordionjs .acc_section:first-of-type .acc_head {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
  .accordionjs .acc_section:last-of-type,
  .accordionjs .acc_section:last-of-type .acc_content {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  .accordionjs .acc_section.acc_active > .acc_content {
    display: block;
  }
  .accordionjs .acc_section.acc_active > .acc_head {
      border-bottom: 1px solid #eaedff;
      color: #fff;
  }
  .accordionjs .acc_section.acc_active .acc_head h3:before{
      content: "\e995";
      position: absolute;
      font-family: 'feather' !important;
      left: 10px;
      color:#fff;
      top: 13px;
      font-size: 20px;
      transition: all 0.5s;
      transform: scale(1);
  }
  .accordionjs .acc_section .acc_head h3:before{
      content: "\e9b0";
      position: absolute;
      font-family: 'feather' !important;
      left: 10px;
      top: 13px;
      font-size: 20px;
      transition: all 0.5s;
      transform: scale(1);
}
.p-10{
    padding:10px;
}

/* custom accordion sub menu */
.accordion .card {
    border: none;
    margin-bottom: 2px;
}
.accordion .card-header {
    background: #21c2a2;
    padding-top: 7px;
    padding-bottom: 7px;
}
.accordion .card-header h2 {
    color: #fff;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}
.accordion .card-header h2 span {
    float: left;
    margin-top: 10px;
}
.accordion .card-header button {
    color: #fff;
    font-size: 1.3rem;
    line-height: 1.3rem;
    float: right;
}
.accordion .card-header button:hover {
    color: #23384e;
}

/* custom login */
.card-cust {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
    background-clip: border-box;
    padding : 13px 20px 15px 20px;
	/* border:1px solid #cbcee8; */
	box-shadow:7px 3px 19px 0px rgba(113,126,195,.25);
}
.card-cust {
	position: relative;
	margin-bottom: 0.8rem;
	width: 100%;
	border-radius:28px;
}

.btn-icon-red{
    height: 25px;
    width: 25px;
    background-color: #fb5555;
    border-radius: 50%;
    display: inline-block;
}

.btn-sign{
    background-color:#A81616;
}

.bg-sign{
    background-color:#A81616;
}

.text-sign {
	color: #A81616 !important;
}