.icon-resize {
    font-size: 20px !important;
}

.label-icon-resize {
    font-size: 15px !important;
    padding-top: 5px !important;
}

.legend-con ul {
    display: inline-block;
    padding: 10px;
}
.chart-legend {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.box-legend {
    width: 18px;
    height: 20px;
    margin-right: 10px;
}